# --- Ghost ---
# Port to expose the Ghost instance
GHOST_PORT=8080
# Public URL for the Ghost instance
GHOST_PUBLIC_URL=http://localhost:8080

# --- MySQL ---
# Password for the MySQL root user
MYSQL_ROOT_PASSWORD=p4ssw0rd
# Port to expose the MySQL instance
MYSQL_PORT=3306
# Path to persist MySQL data
MYSQL_DATA_PATH=./mysql_data

# --- SSG server --
# Port to expose the SSG server
SSG_PORT=8081
